<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <!-- Navbar -->

        <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
            <!-- Navbar content -->
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Daranda</a>
                  <button class="navbar-toggler" type="button" data-bs-theme="dark" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                      <a class="nav-link" href="./proyectos.html">Proyectos</a>
                      <a class="nav-link" href="./blog.html">Blog</a>
                      <a class="nav-link" href="./recomendaciones.html">Recomendaciones</a>
                      <a class="nav-link" href="#">Contacto</a>
                    </div>
                  </div>
                </div>
              </nav>
    
        </nav>
     </header>

    <main>
     <section class = 'encabezados'>
        <h1>CONTACTO</h1>
        
        
        <div class="fixed-text">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia mollitia obcaecati animi voluptatum, distinctio illum, similique dignissimos laborum voluptatibus eaque quo id beatae ipsa officia sunt voluptas corrupti eligendi illo.
                Repellat voluptatibus laudantium suscipit magni officia illo amet! Impedit eveniet ab eius cupiditate! Nesciunt, perspiciatis quo. Iusto nisi vitae natus perspiciatis asperiores, nemo nostrum quasi iure voluptate, architecto ipsa libero!</p>        
        </div>
        
        <div class="botones-contacto">
            <button>Linkedin</button>
            <button>Email</button>
            <button>GitHub</button>
            
        </div>
        
        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.895151062786!2d-58.39688950321044!3d-34.70782439999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccd22f96c12a9%3A0x513c22b2d017299c!2sAv.%20Hip%C3%B3lito%20Yrigoyen%204583%2C%20B1826%20DQF%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1740100829502!5m2!1ses!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        
    </section>

    <div class="formulario">
    <div class="form-floating mb-3">
        <input type="Nombre y apellido" class="form-control" id="floatingInput" placeholder="Fulano Mengano">
        <label for="floatingInput">Nombre y apellido</label>
      </div>
      <div class="form-floating mb-3">
        <input type="Email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="un texto cualquiera">
        <label for="floatingInput">Mensaje</label>
      <a href="mailto: daiana.aranda.ailen@gmail.com">
        <button type="button" class="btn btn-dark">Enviar</button>
      </a>
      </div>

    </div>

    </main>

    <footer class="footer">
      <a target="_blank" href="https://www.linkedin.com/in/daiana-ailen-aranda/">
          <img src="../img/linkedin.png" alt="LinkedIn">
      </a>
      <a target="_blank" href="mailto: daiana.aranda.ailen@gmail.com">
          <img src="../img/email.png" alt="Email">
      </a>
      <a target="_blank" href="https://github.com/DaianaAranda?tab=repositories">
          <img src="../img/github.png" alt="GitHub">
      </a>   
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>